:root{
      --travel-color-main-background: #f1f3f4;
      --travel-color-token-divider-default: #dadce0;
      --travel-color-token-divider-secondary: #dadce0;
      --travel-color-footer: #f5c66f;
      --travel-color-header: #f5c66f;
      --travel-color-token-image-overlay: rgba(0,0,0,0.03);
      --travel-color-token-loading: #e8eaed;
      --travel-color-token-on-primary: #fff;
      --travel-color-token-on-scrim: #fff;
      --travel-color-token-on-secondary: #1967d2;
      --travel-color-token-on-secondary-state-content: #174ea6;
      --travel-color-token-on-secondary-state-layer: var( --travel-color-token-on-secondary );
      --travel-color-token-on-surface-de-emphasis: #70757a;
      --travel-color-token-on-surface-default: #3c4043;
      --travel-color-token-on-surface-disabled: rgba(60,64,67,0.38);
      --travel-color-token-on-surface-emphasis: #202124;
      --travel-color-token-on-surface-emphasis-variant: #202124;
      --travel-color-token-on-surface-icon-navigation: #3c4043;
      --travel-color-token-on-surface-icon-secondary: #5f6368;
      --travel-color-token-on-surface-inverted: #fff;
      --travel-color-token-on-surface-link-default: #1558d6;
      --travel-color-token-on-surface-link-visited: #681da8;
      --travel-color-token-on-surface-negative: #d93025;
      --travel-color-token-on-surface-neutral: #e37400;
      --travel-color-token-on-surface-positive: #188038;
      --travel-color-token-on-surface-primary: #1a73e8;
      --travel-color-token-on-surface-state-content: #202124;
      --travel-color-token-on-surface-state-layer: var( --travel-color-token-on-surface-default );
      --travel-color-token-on-tertiary: #202124;
      --travel-color-token-on-tertiary-disabled: rgba(112,117,122,0.38);
      --travel-color-token-on-tertiary-state-layer: var( --travel-color-token-on-tertiary );
      --travel-color-token-outline-default: #dadce0;
      --travel-color-token-outline-selected: #d2e3fc;
      --travel-color-token-primary: #1a73e8;
      --travel-color-token-primary-state-content: #174ea6;
      --travel-color-token-primary-state-layer: var(--travel-color-token-primary);
      --travel-color-token-primary-variant: #4285f4;
      --travel-color-token-scrim: rgba(32,33,36,0.6);
      --travel-color-token-secondary: #e8f0fe;
      --travel-color-token-secondary-highlight-variant: rgba(232,240,254,0.5);
      --travel-color-token-surface: #fff;
      --travel-color-token-surface-disabled: rgba(60,64,67,0.12);
      --travel-color-token-surface-highlight-negative: #fce8e6;
      --travel-color-token-surface-highlight-positive: #e6f4ea;
      --travel-color-token-surface-highlight-primary: #e8f0fe;
      --travel-color-token-surface-highlight-primary-low-emphasis: rgba(232,240,254,0.5);
      --travel-color-token-surface-highlight-warning: #fef7e0;
      --travel-color-token-tertiary: #f1f3f4;
      --travel-color-black: #202124;
      --travel-color-token-blue-100: #d2e3fc;
      --travel-color-token-blue-50: #e8f0fe;
      --travel-color-token-blue-500: #4285f4;
      --travel-color-token-blue-600: #1a73e8;
      --travel-color-token-blue-700: #1967d2;
      --travel-color-token-green-100: #ceead6;
      --travel-color-token-green-50: #e6f4ea;
      --travel-color-token-green-600: #1e8e3e;
      --travel-color-token-green-700: #188038;
      --travel-color-token-green-900: #0d652d;
      --travel-color-token-grey-100: #f1f3f4;
      --travel-color-token-grey-300: #dadce0;
      --travel-color-token-grey-50: #f8f9fa;
      --travel-color-token-grey-500: #9aa0a6;
      --travel-color-token-grey-600: #80868b;
      --travel-color-token-grey-650: #70757a;
      --travel-color-token-grey-700: #5f6368;
      --travel-color-token-grey-800: #3c4043;
      --travel-color-token-grey-900: #202124;
      --travel-color-token-red-100: #fad2cf;
      --travel-color-token-red-50: #fce8e6;
      --travel-color-token-red-600: #d93025;
      --travel-color-token-red-700: #c5221f;
      --travel-color-token-red-900: #a50e0e;
      --travel-color-white: #fff;
  
}  