:root{
      --travel-color-main-background: #f1f3f4;
      --travel-color-black: #202124;
      --travel-color-blue-100: #d2e3fc;
      --travel-color-blue-50: #e8f0fe;
      --travel-color-blue-500: #4285f4;
      --travel-color-blue-600: #1a73e8;
      --travel-color-blue-700: #1967d2;
      --travel-color-green-100: #ceead6;
      --travel-color-green-50: #e6f4ea;
      --travel-color-green-600: #1e8e3e;
      --travel-color-green-700: #188038;
      --travel-color-green-900: #0d652d;
      --travel-color-grey-100: #f1f3f4;
      --travel-color-grey-300: #dadce0;
      --travel-color-grey-50: #f8f9fa;
      --travel-color-grey-500: #9aa0a6;
      --travel-color-grey-600: #80868b;
      --travel-color-grey-650: #70757a;
      --travel-color-grey-700: #5f6368;
      --travel-color-grey-800: #3c4043;
      --travel-color-grey-900: #202124;
      --travel-color-red-100: #fad2cf;
      --travel-color-red-50: #fce8e6;
      --travel-color-salmon-50: #FA8072;
      --travel-color-salmon-100: #E9967A;
      --travel-color-red-600: #d93025;
      --travel-color-red-700: #c5221f;
      --travel-color-red-900: #a50e0e;
      --travel-color-white: #fff;
      --travel-color-glassmorph:rgba(255, 255, 255, 0.19);
  
}  